<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: main-fragment(
                                                '',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content},
                                                ''
                                               )}">
<head>
    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/change_password.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <div class="container">
        <div class="row p-2 content-form">
            <div class="col-6 card-body">
                <h3 class="text-center font-weight-bold" th:text="#{label.changePassword}"></h3>
                <div class="d-flex justify-center">
                    <a href="/"><img src="" th:src="@{/images/logo-shop.png}" width="150" height="150"></a>
                </div>
                <form action="#" th:action="@{/api/users/changePassword}" th:object="${user}" method="POST">
                    <div class="row">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{role}">
                        <div class="form-group col-12 mb-0">
                            <label for="oldPin" class="font-weight-bold">[[#{label.oldPassword}]]</label><span class="text-danger">*</span>
                            <div class="input-group">
                                <span class="input-group-addon pos-icon"><i class="fa fa-key"></i></span>
                                <input id="oldPin" type="password" th:field="*{oldPin}"
                                       class="form-control mb-2" style="padding-left: 35px;" th:classappend="${#fields.hasErrors('oldPin')} ? 'has-error': ''" th:placeholder="#{label.oldPassword}">
                            </div>
                            <ul th:if="${#fields.hasErrors('oldPin')}" th:each="error: ${#fields.errors('oldPin')}" class="error-message m-0">
                                <li th:each="message : ${error.split(',')}" th:text="${message}">Validation error</li>
                            </ul>
                        </div>
                        <div class="form-group col-12 mb-0">
                            <label for="newPin" class="font-weight-bold">[[#{label.newPassword}]]</label><span class="text-danger">*</span>
                            <div class="input-group">
                                <span class="input-group-addon pos-icon"><i class="fa fa-key"></i></span>
                                <input type="password" id="newPin" th:field="*{newPin}"
                                       class="form-control mb-2" style="padding-left: 35px;" th:classappend="${#fields.hasErrors('newPin')} ? 'has-error': '' " th:placeholder="#{label.newPassword}">
                            </div>
                            <ul th:if="${#fields.hasErrors('newPin')}" th:each="error: ${#fields.errors('newPin')}" class="error-message m-0">
                                <li th:each="message : ${error.split(',')}" th:text="${message}">Validation error</li>
                            </ul>
                        </div>
                        <div class="form-group col-12 mb-0">
                            <label for="renterNewPin" class="font-weight-bold">[[#{label.renewPassword}]]</label><span class="text-danger">*</span>
                            <div class="input-group">
                                <span class="input-group-addon pos-icon"><i class="fa fa-key"></i></span>
                                <input type="password" id="renterNewPin" th:field="*{renterNewPin}"
                                       class="form-control mb-2" style="padding-left: 35px;" th:classappend="${#fields.hasErrors('renterNewPin')} ? 'has-error': '' " th:placeholder="#{label.renewPassword}">
                            </div>
                            <ul th:if="${#fields.hasErrors('renterNewPin')}" th:each="error: ${#fields.errors('renterNewPin')}" class="error-message m-0">
                                <li th:each="message : ${error.split(',')}" th:text="${message}">Validation error</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group mt-1 d-flex" style="column-gap: 10px;">
                        <button type="submit" class="btn custom-btn"><i class="fa fa-user-plus mr-2"></i>[[#{label.submit}]]</button>
                        <a class="btn custom-btn" th:href="@{/login}"><i class="fa fa-backward mr-2"></i>[[#{label.back}]]</a>
                    </div>
                </form>
            </div>
            <div class="col-6 p-0">
                <img src="" class="w-100" style="min-height: 100%" th:src="@{/images/login_banner_left.webp}">
            </div>
        </div>
    </div>
</main>
<th:block id="js-resources">
    <script type="text/javascript" th:src="@{/js/components/change_password.js}"></script>
</th:block>
</body>
</html>