<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frame Modal</title>
</head>
<body>
  <!--START - MODAL DELETE-->
  <div th:fragment="del-data(urlAction, tabName)" th:remove="tag">
      <div th:id="'delModal_' + ${tabName}" class="modal fade" role="dialog" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header text-center modal-background">
                      <h4 class="modal-title w-100 font-weight-bold" th:text="#{label.deleteTab(${tabName})}"></h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body mx-3">
                      <i class="fas fa-info icon-info"></i>
                      <label th:text="#{msg.delete(${tabName})}"></label><span class="ml-1 font-weight-bold" th:text="${tabName == 'user' ? delData.id : delData.code}"></span>?
                  </div>
                  <form th:action="@{__${urlAction}__/{id}(id=${tabName == 'user' || tabName == 'categories' ? delData.id : delData.code})}" method="post">
                      <div class="modal-footer d-flex justify-content-center modal-background">
                          <button type="submit" class="btn btn-pink p-3"><i class="fas fa-trash-can"></i> [[#{label.delete}]]</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!--END - MODAL DELETE-->

  <!--START - MODAL IMAGE-->
  <div th:fragment="image-modal" th:remove="tag">
      <div id="resizeImgModal" class="modal fade" role="dialog" tabindex="1" style="z-index: 1058;"
           data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header text-center modal-background">
                      <h4 class="modal-title w-100 font-weight-bold" th:text="#{label.list.img.product}"></h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="d-flex justify-content-around">
                          <div class="d-flex align-center">
                            <input type="file" class="d-none" multiple name="file" id="upload-thumbnail" accept="image/*">
                            <label for="upload-thumbnail" class="btn btn-warning p-2" th:text="#{label.upload.img}"><i class="fas fa-upload mr-1"></i></label>
                            <button class="btn btn-pink btn-choose-img p-2" disabled th:text="#{label.choose.img}"><i class="fa fa-check mr-1"></i></button>
                          </div>
                          <button class="btn btn-danger btn-delete-img p-2" disabled th:text="#{label.delete.img}"><i class="fas fa-trash-alt mr-1"></i></button>
                      </div>
                      <div id="list-img">
                          <ul class="list"></ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--END - MODAL IMAGE-->

  <!--START - MODAL RESET PASSWORD-->
  <div th:fragment="reset-password(urlAction)" th:remove="tag">
      <div th:id="'resetPinModal'" class="modal fade" role="dialog" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header text-center modal-background">
                      <h4 class="modal-title w-100 font-weight-bold" th:text="#{label.resetPin}"></h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body mx-3">
                      <i class="fas fa-info icon-info"></i>
                      <label>[[#{msg.resetPin}]]</label>
                  </div>
                  <form th:action="@{__${urlAction}__/{id}(id=${user.id})}" method="post">
                      <div class="md-form m-0 px-4">
                          <i class="fas fa-envelope prefix grey-text"></i>
                          <input type="text" th:field="*{user.email}" class="form-control c-not-allow grey-text" readonly/>
                      </div>
                      <div class="modal-footer d-flex justify-content-center modal-background">
                          <button type="submit" class="btn btn-pink p-3"><i class="fas fa-share-from-square"></i> [[#{label.send.pin}]]</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!--END - MODAL RESET PASSWORD-->
</body>
</html>