<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: extention"></head>
<body>
  <!--START - MODAL ADD NEW-->
  <div th:fragment="add-data(urlAction, tabName)" th:remove="tag">
      <div th:id="'addModal_' + ${tabName}" class="modal fade" role="dialog" tabindex="-1">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center modal-background">
                      <h4 class="modal-title w-100 font-weight-bold">Create new [[${tabName}]]</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <form action="#" th:action="@{__${urlAction}__}" th:object="${initData}" method="POST">
                      <script th:inline="javascript" th:if="${#fields.hasAnyErrors()}">
                          $("#addModal_global").modal("show");
                      </script>
                      <div class="modal-body mx-3">
                          <div class="md-form">
                              <i class="fas fa-key prefix grey-text"></i>
                              <input type="text" th:field="*{code}" placeholder="Code" class="form-control"/>
                              <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="error-message">Validation error</span>
                          </div>
                          <div class="md-form">
                              <i class="fas fa-file-signature prefix grey-text"></i>
                              <input type="text" th:field="*{value}" placeholder="Value" class="form-control"/>
                              <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="error-message">Validation error</span>
                          </div>
                          <div class="md-form">
                              <i class="fas fa-bookmark prefix grey-text"></i>
                              <input type="text" th:field="*{description}" placeholder="Description" class="form-control"/>
                          </div>
                      </div>
                      <div class="modal-footer d-flex justify-content-center modal-background">
                          <button type="submit" class="btn btn-pink p-3"><i class="fas fa-save"></i> Save</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!--END - MODAL ADD NEW-->

  <!--START - MODAL UPDATE-->
  <div th:fragment="edit-data(urlAction, tabName)" th:remove="tag">
      <div th:id="'editModal_' + ${tabName}" class="modal fade" role="dialog" tabindex="-1">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center modal-background">
                      <h4 class="modal-title w-100 font-weight-bold">Update [[${tabName}]]</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <form action="#" th:action="@{__${urlAction}__}" method="POST">
                      <div class="modal-body mx-3">
                          <div class="md-form">
                              <i class="fas fa-key prefix grey-text"></i>
                              <input type="text" th:field="*{editData.code}" placeholder="Code" class="form-control c-not-allow" readonly style="color: #a9a9a9"/>
                          </div>
                          <div class="md-form">
                              <i class="fas fa-file-signature prefix grey-text"></i>
                              <input type="text" th:field="*{editData.value}" placeholder="Value" class="form-control"/>
                          </div>
                          <div class="md-form">
                              <i class="fas fa-bookmark prefix grey-text"></i>
                              <input type="text" th:field="*{editData.description}" placeholder="Description" class="form-control"/>
                          </div>
                      </div>
                      <div class="modal-footer d-flex justify-content-center modal-background">
                          <button type="submit" class="btn btn-pink p-3"><i class="fas fa-save"></i> Save</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!--END - MODAL UPDATE-->

  <!--START - MODAL DELETE-->
  <div th:fragment="del-data(urlAction, tabName)" th:remove="tag">
      <div th:id="'delModal_' + ${tabName}" class="modal fade" role="dialog" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header text-center modal-background">
                      <h4 class="modal-title w-100 font-weight-bold">Delete [[${tabName}]]</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body mx-3">
                      <i class="fas fa-info icon-info"></i>
                      <label>Do you really want to delete [[${tabName}]] <span class="font-weight-bold" th:text="${delData.code}"></span>?</label>
                  </div>
                  <form th:action="@{__${urlAction}__/{id}(id=${delData.code})}" method="post">
                      <div class="modal-footer d-flex justify-content-center modal-background">
                          <button type="submit" class="btn btn-pink p-3"><i class="fas fa-trash-can"></i> Delete</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!--END - MODAL DELETE-->
</body>
</html>