body {
  color: #5E5E5E;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: url(../images/background_login.webp) no-repeat;
  background-size: 100%;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center !important;
}

.c-pointer {
 cursor: pointer;
}

.c-not-allow {
  cursor: not-allowed !important;
}

.w-20 {
 width: 20%;
}

.h-cal-footer {
  height: calc(100% - 165px);
}

.cus-fa-1x {
  font-size: 1.5em;
}

.mt-6r {
  margin-top: 6rem !important;
}

.fix-header {
  position: fixed;
  z-index: 1;
  width: -webkit-fill-available !important;
}
.custom-btn {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #FFD54F, #D500F9);
  cursor: pointer;
  border: none !important;
  width: 100%;
}

.custom-btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #D500F9, #FFD54F);
}

.error-message {
  color: #a94442;
  font-size: 12px;
  font-weight: 500;
}

.allError-message {
    color: #a94442;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    text-align: center;
}

.error-message:first-letter {
  text-transform: capitalize;
}

.has-error {
  box-shadow: inset 0 -3px 0 0 #ff000036;
  border: 1px solid #e4e4e4 !important;
  border-bottom: 1px solid #ff7e7e !important;
}

.has-error-input {
  box-shadow: inset 0 -3px 0 0 #ff000036;
  border-bottom: 3px solid #ff7e7e !important;
}

.cus-select {
  border: none;
  border-bottom: 1px solid #ced4da;
  outline: none;
  width: calc(100% - 2.5rem);
  margin-left: 2.5rem !important;
}

.pos-icon {
  position: absolute;
  z-index: 10;
  top: 7px;
  left: 10px;
}

.icon-info {
  border-radius: 100%;
  border: 1px solid;
  padding: 5px;
  width: 2em;
  text-align: center;
  background: pink;
  color: white;
}

.line-one {
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 35px;
}

.img-size-30 {
  height: 30px;
  width: 30px;
}