body {
  color: #5E5E5E;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: url(../images/background_login.webp) no-repeat;
  background-size: 100%;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.c-pointer {
 cursor: pointer;
}

.custom-btn {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #FFD54F, #D500F9);
  cursor: pointer;
  border: none !important;
  width: 100%;
}

.custom-btn:hover {
  color: #fff;
  background-image: linear-gradient(to right, #D500F9, #FFD54F);
}

.error-message {
  color: #a94442;
  font-size: 12px;
  font-weight: 500;
}

.error-message:first-letter {
  text-transform: capitalize;
}

.has-error {
  box-shadow: inset 0 -3px 0 0 #ff000036;
  border: 1px solid #e4e4e4 !important;
  border-bottom: 1px solid #ff7e7e !important;
}

.pos-icon {
  position: absolute;
  z-index: 10;
  top: 7px;
  left: 10px;
}

.logo-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}