<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="~{/layout/layout-admin :: main-fragment(
                                                'product',
                                                'headerNavTop',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content},
                                                'footerAdmin'
                                               )}">
<head>
    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/admin/product.css}"/>
    </th:block>
</head>
<body>
    <main id="main-content">
        <div class="mx-5 mt-6r h-cal-footer">
            <th:block th:replace="~{fragments/header :: alert(${message})}">Alert</th:block>
            <ul class="nav nav-tabs" id="productTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="product-new-tab" data-toggle="tab" data-target="#productNew" th:text="#{label.list.product.new}"
                            type="button" role="tab" aria-controls="productNew" aria-selected="true"><i class="fa fa-list mr-1"></i></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="product-import-tab" data-toggle="tab" data-target="#productImport" th:text="#{label.list.product.import}"
                            type="button" role="tab" aria-controls="productImport" aria-selected="false"><i class="fa fa-download mr-1"></i></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="product-report-tab" data-toggle="tab" data-target="#productReport" th:text="#{label.list.product.report}"
                            type="button" role="tab" aria-controls="productReport" aria-selected="false"><i class="fa fa-flag mr-1"></i></button>
                </li>
            </ul>
            <div class="tab-content" id="productTabContent">
                <div class="tab-pane fade show active" id="productNew" role="tabpanel" aria-labelledby="product-new-tab">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <h4 class="title" th:text="#{label.data('product')}"></h4>
                                </div>
                                <div class="col-sm-9 col-xs-12 text-right">
                                    <div class="btn_group">
                                        <input type="text" class="form-control" th:placeholder="#{label.search}" >
                                        <button class="btn btn-pink"><i class="ion-ios-refresh"></i></button>
                                        <button class="btn btn-pink" data-toggle="modal" data-target="#modal-product"><i class="ion-android-add-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th th:text="#{label.id}">ID</th>
                                    <th th:text="#{label.image}">Image</th>
                                    <th class="w-20" th:text="#{label.product.name}">Product Name</th>
                                    <th th:text="#{label.categories}">Category</th>
                                    <th th:text="#{label.brand}">Brand</th>
                                    <th th:text="#{label.quantity}">Quantity</th>
                                    <th th:text="#{label.price}">Price</th>
                                    <th th:text="#{label.discount}">Discount</th>
                                    <th th:text="#{label.shipping.option}">Shipping Option</th>
                                    <th th:text="#{label.return.policy}">Return policy</th>
                                    <th th:text="#{label.createTime}">Creation Time</th>
                                    <th th:text="#{label.updateTime}">Updated Time</th>
                                    <th th:text="#{label.action}">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr th:unless="${#lists.isEmpty(listProducts)}" th:each="row: ${listProducts}">-->
                                <!--<td th:text="${row.parentId}">0</td>-->
                                <!--<td th:text="${row.code}">0</td>-->
                                <!--<td class="line-one" th:text="${row.name}">Name</td>-->
                                <!--<td th:text="${#dates.format(row.createDate, 'dd/MM/yyyy HH:mm:ss')}">Creation Time</td>-->
                                <!--<td th:text="${#dates.format(row.updateDate, 'dd/MM/yyyy HH:mm:ss')}">Updated Time</td>-->
                                <!--<td class="d-flex" style="column-gap: 5px">-->
                                <!--<a class="btn btn-pink action" onclick="showUpdateCategory(this)" th:data-id="${row.id}"><i class="fas fa-pencil"></i></a>-->
                                <!--<a class="btn btn-pink action" th:onclick="'javascript:openDeleteModal(\''+ __${row.id}__ + '\');'"><i class="fas fa-trash-can"></i></a>-->
                                <!--</td>-->
                                <!--</tr>-->
                                <!--<tr th:if="${#lists.isEmpty(listProducts)}">-->
                                <!--<td colspan="6" class="text-center">[[#{msg.not.matching}]]</td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                        <!--<div th:replace="fragments/table.html :: tablePaging('admin/products', ${listProducts})">Table paging</div>-->
                    </div>
                </div>
                <div class="tab-pane fade" id="productImport" role="tabpanel" aria-labelledby="import-product-tab">...</div>
                <div class="tab-pane fade" id="productReport" role="tabpanel" aria-labelledby="report-product-tab">...</div>
            </div>
        </div>
        <!--Modal-->
        <!--<div th:fragment="modal-del" id="delModalHolder"></div>-->
        <th:block th:replace="~{fragments/modal :: image-modal}">Modal Image</th:block>

        <div class="modal fade" id="modal-product" tabindex="-1" role="dialog" aria-labelledby="modalProduct"
             aria-hidden="true" data-keyboard="false" data-backdrop="static" style="z-index: 1057;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="panel">
                    <div class="panel-heading text-center">
                        <h4 class="title" th:text="#{label.product}"></h4>
                    </div>
                    <form th:object="${product}" id="formProduct" method="post">
                        <div class="panel-body px-5">
                            <div class="row">
                                <div class="md-form col-md-6">
                                    <i class="fa fa-id-badge prefix grey-text"></i>
                                    <select class="form-control white-text cus-select" th:field="*{parentCategoryId}">
                                        <option class="black-text" value="" th:text="#{label.please.select}"></option>
                                        <option class="black-text" th:each="parentCategory : ${parentCategories}"
                                                th:value="${parentCategory}" th:text="${parentCategory}"></option>
                                    </select>
                                </div>
                                <div class="md-form col-md-6">
                                    <i class="fa fa-tasks prefix grey-text"></i>
                                    <select class="form-control white-text cus-select" id="childId"></select>
                                </div>
                                <div class="md-form col-md-6">
                                    <div id="datetimepicker" data-target-input="nearest">
                                        <i class="fa fa-calendar prefix grey-text" data-target="#datetimepicker" data-toggle="datetimepicker"></i>
                                        <input type="text" class="form-control white-text datetimepicker-input"
                                               data-target-input="nearest" data-target="#datetimepicker" th:field="*{displayEndDate}" th:placeholder="#{label.listing.end}"/>
                                    </div>
                                </div>
                                <div class="md-form col-md-6">
                                    <i class="fa fa-database prefix grey-text"></i>
                                    <select class="form-control white-text cus-select">
                                        <option class="black-text" value=""></option>
                                    </select>
                                </div>
                                <div class="md-form col-md-12">
                                    <i class="fa-solid fa-magnifying-glass prefix grey-text"></i>
                                    <input type="text" th:field="*{productName}" th:placeholder="#{label.product.name}"
                                           autocomplete="off" class="form-control" style="color: #ffffff;"/>
                                </div>
                                <div class="md-form col-md-4">
                                    <i class="fa-solid fa-boxes-stacked prefix grey-text"></i>
                                    <input type="text" th:field="*{quantity}" th:placeholder="#{label.quantity}"
                                           autocomplete="off" class="form-control" style="color: #ffffff;"/>
                                </div>
                                <div class="md-form col-md-4">
                                    <i class="fa-solid fa-dollar-sign prefix grey-text"></i>
                                    <input type="text" th:field="*{price}" th:placeholder="#{label.price}"
                                           autocomplete="off" class="form-control" style="color: #ffffff;"/>
                                </div>
                                <div class="md-form col-md-4">
                                    <i class="fa-solid fa-percent prefix grey-text"></i>
                                    <input type="text" th:field="*{discount}" th:placeholder="#{label.discount}"
                                           autocomplete="off" class="form-control" style="color: #ffffff;"/>
                                </div>
                                <div class="md-form col-md-12">
                                    <i class="fa fa-sticky-note prefix grey-text"></i>
                                    <textarea class="textarea" th:field="*{description}" th:placeholder="#{label.description}"></textarea>
                                </div>
                                <div class="md-form col-md-12">
                                    <button type="button" class="upload-box pt-1" id="idUploadImgProduct" data-toggle="modal" data-target="#image-modal">
                                        <i class="fa-solid fa-camera fa-2x"></i>
                                        <span class="fa-1x" th:text="#{label.select.img}"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <button type="submit" class="btn btn-pink p-3"><i class="fas fa-save"></i> [[#{label.save}]]</button>
                            <a th:href="@{/admin/products}" class="btn btn-outline-pink p-3"><i class="fas fa-circle-chevron-left"></i> [[#{link.back.list('Product')}]]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <th:block id="js-resources">
        <script th:inline="javascript" th:src="@{/js/components/admin/product.js}"></script>
    </th:block>
</body>
</html>