<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="~{/layout/layout-admin :: main-fragment(
                                                'dashboard',
                                                'headerNavTop',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content},
                                                'footerAdmin'
                                               )}">
<head>
    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/admin/dashboard.css}"/>
    </th:block>
</head>
<body>
    <main id="main-content">
        <div class="mx-5 mt-6r h-cal-footer">
            <h2>Dashboard Page</h2>
        </div>
    </main>
    <th:block id="js-resources">
        <script type="text/javascript" th:src="@{/js/components/admin/dashboard.js}"></script>
    </th:block>
</body>
</html>