<!DOCTYPE html>
<html class="h-100" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        .container {
            display: flex;
            align-items: center;
            min-height: 100vh;
        }

        .content-form {
            box-shadow: 0 -5px 10px #0000001f, 0 5px 10px #0000001f;
            background: #ffffff;
            background-clip: content-box;
            opacity: 0.9;
            flex: 1;
        }

        .custom_eye {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .size-checkbox {
            width: 20px;
            height: 20px;
        }

    </style>
</head>
<body class="h-100">
    <div class="container">
        <div class="row p-2 content-form">
            <div class="col-6 card-body">
                <form th:action="@{/login}" method="post">
                    <!--Form log in-->
                    <div class="d-flex justify-center">
                        <img th:src="@{/images/logo-shop.png}" width="150" height="150">
                    </div>
                    <!--Error message-->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or password</div>
                    </div>
                    <!--Logout message-->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>
                    <!--Session expired-->
                    <div th:if="${param.expired}">
                        <div class="alert alert-warning">Session Timeout.</div>
                    </div>
                    <div class="form-group">
                        <label for="userName" class="font-weight-bold">Username<span class="text-danger">*</span>:</label>
                        <input type="text" id="username" name="username"
                               class="form-control mb-2" required autofocus="autofocus" placeholder="your@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="password" class="font-weight-bold">Password<span class="text-danger">*</span></label>
                        <div class="position-relative">
                            <input type="password" id="password" name="password"
                                   class="form-control mb-2" required autofocus="autofocus" placeholder="Password">
                            <span class="fas fa-eye custom_eye" id="togglePassword" tabindex="0"></span>
                        </div>
                    </div>
                    <button type="submit" id="login-submit" name="login-submit" class="btn btn-lg custom-btn"><i class="fa fa-sign-in mr-2"></i>Sign in</button>
                    <div class="d-flex my-1 justify-center">
                        <input type="checkbox" id="remember-me" name="remember-me" class="size-checkbox c-pointer mr-1">
                        <label for="remember-me" class="font-weight-bold m-0 c-pointer">Remember me</label>
                    </div>
                </form>
                <div class="form-group mt-1">
                    <span>New user? <a href="#" th:href="@{/registration}">Register here</a></span>
                </div>
            </div>
            <div class="col-6 p-0">
                <img class="w-100" style="min-height: 100%" th:src="@{/images/login_banner_left.webp}">
            </div>
        </div>
    </div>
</body>
<script>
    $('#togglePassword').click(function() {
        var eyeIcon = $(this);
        var pwdInput = $('#password');
        pwdInput.off('blur');
        if (eyeIcon.hasClass('fa-eye')) {
            eyeIcon.removeClass('fa-eye').addClass('fa-eye-slash');
            pwdInput.attr('type', 'text').focus();
            pwdInput.one('blur', function(e) {
                if ($(e.relatedTarget).attr('id') !== 'togglePassword') {
                    pwdInput.attr('type', 'password');
                    eyeIcon.removeClass("fa-eye-slash").addClass('fa-eye');
                }
            });
        } else {
            eyeIcon.removeClass('fa-eye-slash').addClass('fa-eye');
            pwdInput.attr('type', 'password');
        }
    });
</script>
</html>